@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

#navbar {
	text-align: center;
	padding: 5px;
}

.city {
	border: 2px solid;
	text-align: center;
}

#par1{
	text-align: justify;
	margin: 20px;
}

.bishkek {
	width: 350px;
	height: 220px;
	float: right;
	border: 5px green solid;
	margin: 20px;
	padding: 10px;

}

.osh {
	width: 350px;
	height: 220px;
	float: left;
	border: 5px blue solid;
	margin: 40px;
	padding: 20px;

}

#par1 {
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	margin: 40px;
	padding: 20px;
}

#par2 {
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
	margin: 25px;
	padding: 25px;
}