table, td, th {
	border: 2px solid blue;
}

table {
	border-collapse: collapse;
	width: 100%;
}

tr {
	height: 100px;
	text-align: center;
}

th {
	background-color: lightblue;
}

tr:nth-child(even) {  
  background-color: pink;  
}

tr:nth-child(odd) {
	background-color: green;
}

tr:hover td {
	background-color: yellow;
}

